<div class="list-container">
  <mat-list>
    <div *ngFor="let task of tasks">
      <mat-list-item>
        <div class="text">{{task.name}}</div>
        <div class="circle">{{task.counter}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>
