.list-container {
  position: absolute;
  width: 23vw;
  height: 42vh;
  left: 6vw;
  bottom: 10vh;
  overflow: auto;
  background-color: #424242;
}
.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.mat-list-item-content {
  overflow: hidden;
  height: 0;
}
.text {
  width: 80%;
  color: white;
  overflow: hidden;
  word-wrap: break-word;
}
