<div class="container mat-primary" color="primary">
  <app-add-task-button [taskInput]="taskInput"></app-add-task-button>
  <app-task-input #taskInput></app-task-input>
  <app-task-list></app-task-list>
</div>

