/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*For all application elements ------------------------------------------------------------------*/
body {
  margin: 0;
}

/*Design for scrolls ----------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;   /* THIS IS IMPORTANT */
}

::-webkit-scrollbar-thumb  {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}

